.main-page {
    height: 100vh;
    background: url("../img/lobby.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#intro {
    flex: 1 1 auto;
}

.mask {
    height: 100%;
}