.main-page {
    height: 100vh;
    background: url("../img/lobby.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

#intro {
    flex: 1 1 auto;
}

.mask {
    height: 100%;
}

@keyframes mov-down {
    from {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px);
    }
    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.arrow-down {
    margin-top: auto;
    -webkit-animation: mov-down 1.5s ease-in-out infinite;
    -o-animation: mov-down 1.5s ease-in-out infinite;
    animation: mov-down 1.5s ease-in-out infinite;
}

.arrow-down a {
    color: #fff;
}