{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Director profile' %}
{% endblock %}

{% block main %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <p align="center" >
            <h2 class="h2 text-center">  perfil do director</h2> </p>


            <p>  José Paulino Cunha da Silva entrou em funções no final de 2012 como Director Nacional do Serviço de Migração e Estrangeiros. </p>

            <p>Licenciado em Direito pela Universidade Estatal de Kiev/Ucrânia, o responsável é ainda Mestre em Ciências Jurídico-Internacionais pela Faculdade de Direito de Lisboa, Mestre em Administração e Gestão pela Universidade de Wexford, Zurich. </p>


<p>Advogado, membro da Ordem dos Advogados de Angola, é membro da Sociedade Americana do Direito Internacional desde 1997. A nível profissional, desempenhou as funções de professor colaborador do Instituto Médio de Economia de Luanda entre 1992-1993
    e foi Consultor Jurídico da Loangos Associados, Sematex, Imporafrica, Maboque e Moneta-Casa de Câmbios, entre 1991-1993.</p>

            <p> A diplomacia internacional é um campo bem conhecido do novo líder do SME. Desempenhou as funções de Primeiro-Secretário da Embaixada de Angola em Portugal (1993-1997).</p>

            <p>Foi Conselheiro da Missão Permanente da República de Angola junto da ONU (1997-2003) e nessa qualidade participou em varias reuniões e conferências internacionais sobre negociações de instrumentos jurídicos internacionais
                no domínio da diplomacia preventiva, resolução de conflitos e desarmamento e segurança internacional (Noruega, Suíça, Alemanha, Holanda, Áustria, Nova lorque, Washington e Novo México), tendo também assistido a várias reuniões dedicadas ao Direito do Mar que decorreram na sede das Nações Unidas.</p>

            <p>Foi conselheiro e membro da equipa angolana no Conselho de Segurança das Nações Unidas (2003-2004).</p>

            <p> O responsável desempenhou, até há bem pouco tempo, as funções de professor universitário, sendo autor dos seguintes livros já publicados: “As Resoluções das Nações Unidas sobre Angola” (Junho/2002) e “A Problemática do Novo Direito Internacional do Mar e os Espaços Marítimos sob jurisdição de Angola” (Fevereiro/2005).</p>

            <p> Mais recentemente, até aos últimos meses de 2012, ocupou o cargo de director do intercâmbio e cooperação do Ministério do Interior.</p>

<p>Habituado a interagir num mundo multicultural, o responsável fala e escreve em português, inglês, espanhol e russo.</p>>


        </div>
    </div>
{% endblock %}