{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete legislation' %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="h2 text-center">{% trans 'Are you shure to delete this legislation?' %}</h2>
            </div>
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger">{% trans 'Accept' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}