{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'News' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% if user.occupation == 'ADMIN' %}
            <div class="row">
                <a href="{% url 'news:create' %}" class="btn btn-default">{% trans 'Add news' %}</a>
            </div>
        {% endif %}
        <div class="row">
            {% for news in news_list %}
                <div class="col"><a href="{% url 'news:detail' news.pk %}">{{ news }}</a></div>
            {% empty %}
                <div class="col">No hay para mostrar</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}