{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {{ news }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>{{ news.title }}</h1><span>{% trans 'Publication date' %}: {{ news.pub_date }}</span>
                <p>{{ news.content }}</p>
            </div>
            {% if news.picture %}
                <div class="col">
                    <img src="{{ news.picture.url }}" alt="{{ news.title }}" width="200" height="200">
                </div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <a href="{% url 'news:update' news.pk %}" class="btn btn-default">{% trans 'Update' %}</a>
                <a href="{% url 'news:delete' news.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a>
            </div>
        {% endif %}
    </div>
{% endblock %}