{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Services' %}
{% endblock %}

{% block main %}
    <div class="mt-4">
        <div class="container">
            <section class="text-center">
                <h2 class="mb-4">{% trans 'Our services' %}</h2>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-12 col-md-8">
                        <p>El servicio de Migración y Extrangería coloca a disposición de los cuidadanos y empresas,
                            nacionales y extrangeros, un conjunto alargado de servicios.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>En las opciones siguientes, podrá conocer los servicios prestados por SME, bien como las
                            tasas aplicables a los respectivos documentos, en términos de la ley. Note que los precios
                            dicen
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for service in service_list %}
                        <div class="col-12 col-md-4 my-2">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">{{ service.service_type }}</div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">{{ service.description }}</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ service.file.url }}" class="btn btn-sm btn-primary"
                                       download="{{ service.file }}">Descargar</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}