{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Create service' %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-default">{% trans 'Accept' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}