{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Services' %}
{% endblock %}

{% block main %}
    <div class="mt-4">
        <div class="container">
            <section class="text-center">
                <h2 class="mb-4">{% trans 'Our services' %}</h2>
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-12 col-md-8">
                        <p>O Serviço de Migração e Estrangeiros coloca à disposição dos cidadãos e empresas,
                            nacionais e estrangeiros, um conjunto alargado de serviços.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Nas opções que se seguem, poderá conhecer os serviços prestados pelo SME,
                            bem como as taxas aplicáveis aos respectivos documentos, nos termos da lei.
                            Note bem que os preços dizem respeito à aquisição destes serviços em território
                            angolano, e são apresentados em dólares $USD. O seu valor em Kwanzas (AKZ) será
                            o equivalente à taxa de câmbio em vigor no momento do pedido.
                        </p>
                    </div>
                </div>
                {% if user.occupation == 'ADMIN' or user.occupation == 'FAC' %}
                    <a href="{% url 'news:service-create' %}" class="btn btn-default">{% trans 'Add service' %}</a>
                {% endif %}
                <div class="row">
                    {% for service in service_list %}
                        <div class="col-12 col-md-4 my-2">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">{{ service.service_type }}</div>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">{{ service.description }}</div>
                                </div>
                                <div class="card-footer">
                                    <a href="{{ service.file.url }}" class="btn btn-sm btn-primary"
                                       download="{{ service.file }}">Descargar</a>
                                    {% if user.occupation == 'ADMIN' or user.occupation == 'FAC' %}
                                        <a href="{% url 'news:service-update' service.pk %}" class="btn btn-sm btn-primary">{% trans 'Update' %}</a>
                                        <a href="{% url 'news:service-delete' service.pk %}" class="btn btn-sm btn-danger">{% trans 'Delete' %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
{% endblock %}