{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block styles %}
    <style>
        .restore {
            margin: 5% 33%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="restore">
        <div class="card">
            <!-- Header card -->
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>{{ title }}</strong>
            </h5>
            <!-- Card content -->
            <div class="card-body px-lg-5 pt-0">
                <!-- Form -->
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <div class="md-form">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                    </div>
                    <button class="btn btn-outline-info btn-block my-4 waves-effect z-depth-0">{% trans 'Accept' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            {% if form.email.errors %}
                swal({
                        title: 'Error',
                        html: '{{ form.email.errors }}',
                        type: 'error'
                    }
                );
            {% endif %}
        });
    </script>
{% endblock %}