{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Change password' %}
{% endblock %}

{% block main %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <span class="justify-content-center text-danger">
                        {{ form.non_field_errors }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.old_password }}
                        <label for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                        <span class="text-muted text-danger">{{ form.old_password.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.new_password1 }}
                        <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                        <span class="text-muted text-danger">{{ form.new_password1.errors }}</span>
                        <span class="text-muted font-small">{{ form.new_password1.help_text }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.new_password2 }}
                        <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                        <span class="text-muted text-danger">{{ form.new_password2.errors }}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-default" type="submit">{% trans 'Accept' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}