{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Update {{ profile }}'s profile{% endblocktrans %}
{% endblock %}

{% block main %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.first_name }}
                        <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                        <span class="text-muted text-danger">{{ form.first_name.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.last_name }}
                        <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                        <span class="text-muted text-danger">{{ form.last_name.errors }}</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        <span class="text-muted text-danger">{{ form.email.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <label for="{{ form.born_date.id_for_label }}">{{ form.born_date.label }}</label>
                    {{ form.born_date }}
                    <span class="text-muted text-danger">{{ form.born_date.errors }}</span>
                </div>
                {% if user.occupation == 'ADMIN' %}
                    <div class="col">
                        <label for="{{ form.occupation.id_for_label }}">{{ form.occupation.label }}</label>
                        {{ form.occupation }}
                        <span class="text-muted text-danger">{{ form.occupation.errors }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-default" type="submit">{% trans 'Update' %}</button>
                    <a href="{% url 'accounts:profile_update_password' profile.pk %}" class="btn btn-default">
                        {% trans 'Update password' %}
                    </a>
                    {% if user.is_superuser %}
                        <a href="{% url 'accounts:profile_delete' profile.pk %}"
                           class="btn btn-danger">{% trans 'Delete' %}</a>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
