{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}{{ profile }}'s profile {% endblocktrans %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center">{{ profile }}</h1>
                {% if user.occupation == 'ADMIN' %}
                    {% if profile.is_active %}
                        <h5 class="green text-center">Is active</h5>
                    {% else %}
                        <h5 class="yellow">Is inactive</h5>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{% trans 'Username' %}: {{ profile.username }}</p>
            </div>
            <div class="col">
                <p>{% trans 'Born date' %}: {{ profile.born_date }}</p>
            </div>
            {% if profile.age %}
                <div class="col">
                    <p>{% trans 'Age' %}: {{ profile.age }}</p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <p>{% trans 'Occupation' %}: {{ profile.get_occupation_display }} ({{ profile.occupation }})</p>
            </div>
        </div>
    </div>
    {% if user.pk == profile.pk %}
        <a href="{% url 'accounts:profile_update_password' profile.pk %}"
           class="btn btn-default">{% trans 'Update password' %}</a>
    {% endif %}
    {% if user.pk == profile.pk or user.occupation == 'ADMIN' %}
        <a href="{% url 'accounts:profile_update' profile.pk %}" class="btn btn-default">{% trans 'Update' %}</a>
    {% endif %}
{% endblock %}