{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Update {{ profile }}'s profile{% endblocktrans %}
{% endblock %}

{% block main %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="md-form">
                {{ field.label_tag }}<br>
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">{% trans 'Accept' %}</button>
    </form>
{% endblock %}