{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/navbar.css' %}">
{% endblock %}

{% block content %}
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <div class="container-fluid">
                <!-- Navbar brand-->
                <a href="{% url 'services:index' %}" class="navbar-brand">
                    <strong>SIG SMEHLA</strong>
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" id="init">
                            <a href="{% url 'services:index' %}" class="nav-link">Inicio <span
                                    class="sr-only"></span></a>
                        </li>
                        <li class="nav-item" id="services">
                            <a href="{% url 'services:services' %}" class="nav-link">Servicios</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item" id="tools">
                                <a href="{% url 'services:tools' %}" class="nav-link">Herramientas</a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item" id="dashboard">
                                <a href="{% url 'accounts:dashboard' %}" class="nav-link">Administrar</a>
                            </li>
                        {% endif %}
                        <li class="nav-item" id="status">
                            <a href="{% url 'services:status' %}" class="nav-link">Consultar</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal"
                               data-target="#contact">Cont&aacute;ctenos</a>
                            <div class="modal fade right" tabindex="-1" role="dialog" id="contact">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Cont&aacute;ctenos</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Por favor, d&eacute;nnos su opini&oacute;n del sitio</p>
                                            <form method="post">
                                                <div class="md-form">
                                                    <label for="subject">Asunto</label>
                                                    <input type="text" id="subject" name="subject">
                                                </div>
                                                <div class="md-form">
                                                    <label for="message">Mensaje</label>
                                                    <input type="text" id="message">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Saves changes</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="form-inline">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                                    <div class="dropdown">
                                        <a href="#" id="test" class="nav-link waves-effect waves-light dropdown-toggle"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user"></i>
                                            <span class="clearfix d-none d-sm-inline-block">{{ user }}</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="test">
                                            <a class="dropdown-item" href="{% url 'accounts:profile_detail' user.pk %}">
                                                <i class="fa fa-eye mr-3"></i>Ver Perfil</a>
                                            <a class="dropdown-item" href="{% url 'accounts:profile_update' user.pk %}">
                                                <i class="fa fa-edit mr-3"></i>Editar
                                                Perfil</a>
                                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                                <i class="fa fa-sign-out mr-3"></i>Salir</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="{% url 'accounts:login' %}" class="nav-link">
                                        <i class="fa fa-sign-in"></i>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <!-- Links -->
                </div>
                <!-- Collapsible content -->
            </div>
        </nav>
        <!-- Navbar -->
        <!-- Mask -->
        {% block mask %}
        {% endblock %}
        <!-- Mask -->
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer class="page-footer font-small blue pt-4">
        <a href="#" class="go-top"><i class="fa fa-arrow-up"></i>Subir</a>
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5>Sistema de Gestión</h5>
                    <h6 class="offset-1">Sistema de migración y extrangería</h6>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Link 1</a>
                        </li>
                        <li>
                            <a href="#">Link 2</a>
                        </li>
                        <li>
                            <a href="#">Link 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            &copy; 2018 Copyright: Created by University of Holguin.
        </div>
    </footer>
{% endblock %}