{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'accounts/css/navbar.css' %}">
{% endblock %}

{% block content %}
    <header class="main-page">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">
            <div class="container-fluid">
                <!-- Navbar brand-->
                <a href="{% url 'services:index' %}" class="navbar-brand">
                    <strong>SIG SMEHLA</strong>
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="navbar">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" id="init">
                            <a href="{% url 'services:index' %}" class="nav-link">{% trans 'Index' %}
                                <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item" id="services">
                            <a href="{% url 'news:services' %}" class="nav-link">{% trans 'Services' %}</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item" id="tools">
                                <a href="{% url 'services:tools' %}" class="nav-link">{% trans 'Tools' %}</a>
                            </li>
                        {% endif %}
                        {% if user.is_superuser %}
                            <li class="nav-item" id="dashboard">
                                <a href="{% url 'accounts:dashboard' %}" class="nav-link">{% trans 'Administrate' %}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item" id="status">
                            <a href="{% url 'services:status' %}" class="nav-link">{% trans 'Consult' %}</a>
                        </li>
                        <li class="nav-item" id="news">
                            <a href="{% url 'news:list' %}" class="nav-link">{% trans 'News' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal"
                               data-target="#contact">{% trans 'Contact us' %}</a>
                            <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contact"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h4 class="modal-title w-100 font-weight-bold">{% trans 'Contact us' %}</h4>
                                            <button class="close" type="button" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body mx-3">
                                            <div class="md-form mb-5">
                                                <i class="fa fa-user prefix grey-text"></i>
                                                <input type="text" id="name" class="form-control validate" name="name">
                                                <label for="name" data-error="Wrong" data-success="Right">
                                                    {% trans 'Your name' %}
                                                </label>
                                            </div>

                                            <div class="md-form mb-5">
                                                <i class="fa fa-envelope prefix grey-text"></i>
                                                <input type="email" id="email" class="form-control validate"
                                                       name="email">
                                                <label for="email" data-error="Wrong" data-success="Right">
                                                    {% trans 'Your email' %}
                                                </label>
                                            </div>

                                            <div class="md-form mb-5">
                                                <i class="fa fa-tag prefix grey-text"></i>
                                                <input type="text" id="subject" class="form-control validate"
                                                       name="subject">
                                                <label for="subject" data-error="Wrong" data-success="Right">
                                                    {% trans 'Subject' %}
                                                </label>
                                            </div>

                                            <div class="md-form">
                                                <i class="fa fa-pencil prefix grey-text"></i>
                                                <textarea name="message" type="text"
                                                          class="md-textarea form-control" id="message" rows="4"></textarea>
                                                <label for="message" data-error="Wrong" data-success="Right">
                                                    {% trans 'Your message' %}
                                                </label>
                                            </div>

                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                            <button class="btn btn-unique" id="send">
                                                {% trans 'Send' %} <i class="fa fa-paper-plane ml-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="form-inline">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                                    <div class="dropdown">
                                        <a href="#" id="test" class="nav-link waves-effect waves-light dropdown-toggle"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user"></i>
                                            <span class="clearfix d-none d-sm-inline-block">{{ user }}</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="test">
                                            <a class="dropdown-item" href="{% url 'accounts:profile_detail' user.pk %}">
                                                <i class="fa fa-eye mr-3"></i>{% trans 'See profile' %}</a>
                                            <a class="dropdown-item" href="{% url 'accounts:profile_update' user.pk %}">
                                                <i class="fa fa-edit mr-3"></i>
                                                {% trans 'Edit profile' %}
                                            </a>
                                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">
                                                <i class="fa fa-sign-out mr-3"></i>{% trans 'Logout' %}</a>
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="{% url 'accounts:login' %}" class="nav-link">
                                        <i class="fa fa-sign-in"></i>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                    <!-- Links -->
                </div>
                <!-- Collapsible content -->
            </div>
        </nav>
        <!-- Navbar -->
        <!-- Mask -->
        {% block mask %}
        {% endblock %}
        <!-- Mask -->
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer class="page-footer font-small blue pt-2">
        <a href="#" class="go-top"><i class="fa fa-arrow-up"></i></a>
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5>{% trans 'Manage System' %}</h5>
                    <h6 class="offset-1">{% trans 'System of emigration and foreign affairs' %}</h6>
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <label>
                            <select name="language" class="form-control form-control-sm" id="languages">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% get_current_language as LANGUAGE_CODE %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                        <input type="submit" value="{% trans 'Go' %}" class="btn btn-outline-indigo btn-white btn-sm">
                    </form>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">{% trans 'Links' %}</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://www.cidadao.gov.ao" target="_blank">{% trans 'Citizen Portal' %}</a>
                        </li>
                        <li>
                            <a href="http://www.minint.gov.ao" target="_blank">{% trans 'Ministry of Interior' %}</a>
                        </li>
                        <li>
                            <a href="http://gue.minjus-ao.com" target="_blank">{% trans "Company's only booth" %}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            &copy; 2018 {% trans 'Copyright: Created by University of Holguin' %}.
        </div>
    </footer>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('#send').click(function () {
                $.ajax('{% url "accounts:send_email" %}', {
                    method: 'POST',
                    data: {
                        name: $('#name').val(),
                        email: $('#email').val(),
                        subject: $('#subject').val(),
                        message: $('#message').val(),
                    },
                    success: function () {
                        $('#contact').modal('hide');
                        swal({
                            title: "{% trans 'Sended' %}",
                            html: "{% trans 'Your message has sended correctly' %}",
                            type: 'success'
                        });
                    },
                    error: function () {
                        swal({
                            title: '{% trans "Not send" %}',
                            html: "{% trans 'Error sending your message' %}",
                            type: 'error'
                        });
                    },
                });

            });
        });
    </script>
{% endblock %}