{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Client {{ client.get_full_name }}{% endblocktrans %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% include 'services/client_detail_template.html' with client=client only %}

    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="h2 text-center">{% trans 'Migratory acts' %}</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'Status' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for service in client.service_set.all %}
                    <tr>
                        {% if service.visa %}
                            {% if service.visa.extensionvisa %}
                                <td>{{ service.visa.extensionvisa.get_extension_type }}</td>
                            {% else %}
                                <td>{{ service.visa.get_service_type }}</td>
                            {% endif %}
                        {% elif service.passport %}
                            <td>{{ service.passport.get_service_type }}</td>
                        {% elif service.residenceauthorization %}
                            <td>{{ service.residenceauthorization.get_service_type }}</td>
                        {% else %}
                            <td>{{ service.get_service_type }}</td>
                        {% endif %}
                        <td>{{ service.get_status_display }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="2"
                            class="text-muted text-center">{% trans 'No requested services found' %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a href="{% url 'services:client_update' client.pk %}" class="btn btn-default">{% trans 'Update' %}</a>
        <a href="{% url 'services:client_delete' client.pk %}" class="btn btn-danger">{% trans 'Delete' %}</a>
        {% if user.occupation == 'FAC' %}
            <a href="#" class="btn btn-primary" data-toggle="modal"
               data-target="#add-service">{% trans 'Add service' %}</a>
        {% endif %}
    </div>

    <!-- Service Modal-->
    <div class="modal fade" id="add-service" tabindex="-1" role="dialog" aria-labelledby="add-service"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">{% trans 'Add service' %}</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body mx-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'services:service_create' 'MTV' client.pk %}" class="btn btn-default">
                                    {% trans 'Medical Visa' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:service_create' 'TSV' client.pk %}" class="btn btn-default">
                                    {% trans 'Temporary Visa' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:service_create' 'SV' client.pk %}" class="btn btn-default">
                                    {% trans 'Study Visa' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:service_create' 'STV' client.pk %}" class="btn btn-default">
                                    {% trans 'Short-term Visa' %}
                                </a>
                            </div>
                            <div class="col-12">
                                <a href="{% url 'services:service_create' 'extension' client.pk %}"
                                   class="col btn btn-default">{% trans 'Visa extension' %}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <a href="{% url 'services:service_create' 'residence' client.pk %}"
                               class="col btn btn-default">{% trans 'Residence authorization' %}
                            </a>
                        </div>
                        <div class="row">
                            <a href="{% url 'services:service_create' 'passport' client.pk %}"
                               class="col btn btn-default">{% trans 'Passport' %}
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Modal body -->
            </div>
        </div>
    </div>
    <!-- Service Modal-->
{% endblock %}