{% extends 'navbar.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if client %}
        {% trans 'Client' %} {{ client }}
    {% else %}
        {% trans 'Add client' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <h1 class="h1 text-center">{% trans 'Personal data' %}</h1>
        <form method="post" enctype="multipart/form-data" class="form-row">
            {% csrf_token %}
            <div class="col-8">
                <div class="md-form">
                    {{ form.first_name }}
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                </div>
            </div>
            <div class="col-4">
                {% if client.picture %}
                    <img src="{{ client.picture.url }}" width="150em" height="150em" class="img-thumbnail">
                {% else %}
                    <img src="{% static 'accounts/img/user.png' %}" width="150em" height="150em" class="img-thumbnail">
                {% endif %}
            </div>
            <div class="col-3">
                <label for="{{ form.born_date.id_for_label }}">{{ form.born_date.label }}</label>
                {{ form.born_date }}
                <p class="text-muted text-info">{{ form.born_date.help_text }}</p>
                <p class="text-muted text-danger">{{ form.born_date.errors|first }}</p>
            </div>
            <div class="col-3">
                <label for="{{ form.sex.id_for_label }}">{{ form.sex.label }}</label>
                {{ form.sex }}
            </div>
            <div class="col-3">
                <label for="{{ form.civil_status.id_for_label }}">{{ form.civil_status.label }}</label>
                {{ form.civil_status }}
            </div>
            <div class="col-3">
                {{ form.picture }}
            </div>
            <div class="col-12"><h3 class="h3 text-center">{% trans 'Work data' %}</h3></div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.profession }}
                    <label for="{{ form.profession.id_for_label }}">{{ form.profession.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.funcion }}
                    <label for="{{ form.funcion.id_for_label }}">{{ form.funcion.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.work_name }}
                    <label for="{{ form.work_name.id_for_label }}">{{ form.work_name.label }}</label>
                </div>
            </div>
            <div class="col-12"><h3 class="h3 text-center">{% trans 'Filiation' %}</h3></div>
            <div class="col-6">
                <div class="md-form">
                    {{ form.father }}
                    <label for="{{ form.father.id_for_label }}">{{ form.father.label }}</label>
                </div>
            </div>
            <div class="col-6">
                <div class="md-form">
                    {{ form.mother }}
                    <label for="{{ form.mother.id_for_label }}">{{ form.mother.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.phone }}
                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.email }}
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <label for="{{ form.data_attachment.id_for_label }}">{{ form.data_attachment.label }}</label>
                {{ form.data_attachment }}
            </div>
            <div class="col-12"><h3 class="h3 text-center">{% trans 'Current address' %}</h3></div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.province }}
                    <label for="{{ form.province.id_for_label }}">{{ form.province.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.municipality }}
                    <label for="{{ form.municipality.id_for_label }}">{{ form.municipality.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.commune }}
                    <label for="{{ form.commune.id_for_label }}">{{ form.commune.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.neighborhood }}
                    <label for="{{ form.neighborhood.id_for_label }}">{{ form.neighborhood.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.street }}
                    <label for="{{ form.street.id_for_label }}">{{ form.street.label }}</label>
                </div>
            </div>
            <div class="col-4">
                <div class="md-form">
                    {{ form.home_no }}
                    <label for="{{ form.home_no.id_for_label }}">{{ form.home_no.label }}</label>
                </div>
            </div>

            <div class="col-12">
                <button class="btn btn-success float-right" type="submit">Aceptar</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(function () {
            {% if form.errors %}
                swal({
                    title: 'error',
                    type: 'error',
                    html: '{{ form.errors }}'
                });
            {% endif %}
        });
    </script>
{% endblock %}