{% load i18n %}
{% load static %}
<div class="row">
    <div class="col-lg-12 mb-5">
        <h2 class="h2">{{ client.get_full_name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-12 col-md-4">
                <p>{% trans 'Civil status' %}: {{ client.get_civil_status_display }}</p>
            </div>
            <div class="col-12 col-md-4">
                <p>{% trans 'Born date' %}: {{ client.born_date }}</p>
            </div>
            <div class="col-12 col-md-4">
                <p>{% trans 'Sex' %}: {{ client.get_sex_display }}</p>
            </div>
            <div class="col-12 col-md-4">
                <p>{% trans 'Origin nationality' %}: {{ client.nationality }}</p>
            </div>
            <div class="col-12 col-md-4">
                <p>{% trans 'Current nationality' %}: {{ client.current_nationality }}</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <img src="
                {% if client.picture %}{{ client.picture.url }}{% else %}{% static 'accounts/img/user.png' %}{% endif %}"
             alt="{{ client.first_name }}" width="150em" height="150em" class="img-thumbnail">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="h4 text-center">{% trans 'Parents' %}</h4>
    </div>
    <div class="col-12 col-md-6">
        <p>{% trans "Father's name" %}: {{ client.father }}</p>
    </div>
    <div class="col-12 col-md-6">
        <p>{% trans "Father's nationality" %}: {{ client.father_nationality }}</p>
    </div>
    <div class="col-12 col-md-6">
        <p>{% trans "Mother's name" %}: {{ client.mother }}</p>
    </div>
    <div class="col-12 col-md-6">
        <p>{% trans "Mother's nationality" %}: {{ client.mother_nationality }}</p>
    </div>
    <div class="col-12">
        <h4 class="h4 text-center">{% trans "Client's birth address" %}</h4>
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Province' %}: {{ client.province_birth }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Municipality' %}: {{ client.municipality_birth }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Commune' %}: {{ client.commune_birth }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Neighborhood' %}: {{ client.neighborhood_birth }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Street' %}: {{ client.street_birth }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Home No.' %}: {{ client.home_no_birth }}
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3 class="h3 text-center">{% trans 'Address' %}</h3>
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Province' %}: {{ client.province }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Municipality' %}: {{ client.municipality }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Commune' %}: {{ client.commune }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Neighborhood' %}: {{ client.neighborhood }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Street' %}: {{ client.street }}
    </div>
    <div class="col-12 col-md-6">
        {% trans 'Home No.' %}: {{ client.home_no }}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3 class="h3 text-center">{% trans 'Work data' %}</h3>
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Profession' %}: {{ client.profession }}
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Function' %}: {{ client.funcion }}
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Work name' %}: {{ client.work_name }}
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Province' %}: {{ client.province_work }}
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Neighborhood' %}: {{ client.neighborhood_work }}
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Phone work' %}: {{ client.phone_work }}
    </div>
    <div class="col-12 col-md-4">
        {% trans 'Email work' %}: {{ client.email_work }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <p>{% trans 'Personal Email' %}: <a href="mailto:{{ client.email }}">{{ client.email }}</a></p>
    </div>
    <div class="col-lg-4">
        <p>{% trans 'Personal Phone' %}: {{ client.phone }}</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% if client.data_attachment %}
            <p>{% trans 'Data attachment' %}:
                <a href="{{ client.data_attachment.url }}"
                   download="{{ client.get_full_name }}_{{ client.data_attachment.name }}"
                   class="btn btn-default btn-sm">
                    {% trans 'Download data attachment' %}
                </a>
            </p>
        {% endif %}
    </div>
</div>
