{% extends 'navbar.html' %}
{% load i18n %}

{% block main %}
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <h1 class="h1 text-center">{% trans 'Tutelary Entity data' %}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        <span class="text-danger">{{ form.name.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.localization }}
                        <label for="{{ form.localization.id_for_label }}">{{ form.localization.label }}</label>
                        <span class="text-danger">{{ form.localization.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.identification_no }}
                        <label for="{{ form.identification_no.id_for_label }}">{{ form.identification_no.label }}</label>
                        <span class="text-danger">{{ form.identification_no.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.issuance_date }}
                        <label for="{{ form.issuance_date.id_for_label }}">{{ form.issuance_date.label }}</label>
                        <span class="text-danger">{{ form.issuance_date.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.expiration_date }}
                        <label for="{{ form.expiration_date.id_for_label }}">{{ form.expiration_date.label }}</label>
                        <span class="text-danger">{{ form.expiration_date.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.telephone }}
                        <label for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
                        <span class="text-danger">{{ form.telephone.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        <span class="text-danger">{{ form.email.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-default">{% trans 'Accept' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}