{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete entity' %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 text-center">{% trans 'Are you shure to delete this entity?' %}</h1>
            </div>
        </div>

        <div class="col-12">
            <h2 class="h2">{% trans 'Entity name' %}: {{ entity.name }}</h2>
        </div>

        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger">{% trans 'Accept' %}</button>
            </form>
        </div>
    </div>
{% endblock %}