{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Add visa' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    {% if form.non_field_errors %}
                        <div class="col-12 text-center text-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% elif form.errors %}
                        <div class="col-12 text-center text-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <label for="{{ form.extension_type.id_for_label }}">{{ form.extension_type.label }}</label>
                    {{ form.extension_type }}
                </div>
            </div>
            {% include 'services/visa_form_template.html' %}
            <div class="row">
                <div class="col-12">
                    <h3 class="h5 text-center">{% trans 'Person or responsible body' %}</h3>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.province.id_for_label }}">{{ form.province.label }}</label>
                        {{ form.province }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.city.id_for_label }}">{{ form.city.label }}</label>
                        {{ form.city }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.neighborhood.id_for_label }}">{{ form.neighborhood.label }}</label>
                        {{ form.neighborhood }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.street_no.id_for_label }}">{{ form.street_no.label }}</label>
                        {{ form.street_no }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.home_no.id_for_label }}">{{ form.home_no.label }}</label>
                        {{ form.home_no }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                        {{ form.phone }}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.visa_no }}
                        <label for="{{ form.visa_no.id_for_label }}">{{ form.visa_no.label }}</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="{{ form.valid_date.id_for_label }}">{{ form.valid_date.label }}</label>
                    {{ form.valid_date }}
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.reason_extension }}
                        <label for="{{ form.reason_extension.id_for_label }}">{{ form.reason_extension.label }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <button class="btn btn-default">{% trans 'Accept' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}