{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans 'Home' %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'services/css/home.css' %}">
{% endblock %}

{% block mask %}
    <div class="" id="intro">
        <div class="mask rgba-black-strong">
            <div class="container-fluid d-flex flex-column align-items-center justify-content-center h-100">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-10">
                        <!-- Heading -->
                        <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
                            {% trans 'System of emigration and foreign affairs' %}
                        </h2>
                        <!-- Divider -->
                        <hr class="hr-light">

                        <!-- Description -->
                        <h4 class="white-text my-4">
                            {% trans 'For a migration service more fortress and dynamic, on the way to modernization and excellence' %}
                        </h4>
                    </div>
                </div>
                <div class="arrow-down text-center">
                    <a data-scroll href="#content"><i class="fa fa-angle-down fa-4x"></i></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="mt-4" id="content">
        <div class="container">
            <section class="text-center">
                <h2 class="mb-3">{% trans 'Mission' %}</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        {% trans 'The migration and foreigners service (EMS) ensures the inviolability and security of the land, sea, river and air borders of Angola, through the application of legally established administrative and physical procedures. The SME combats migratory illegality and regulates the legal circulatory flows of people, in isolation and in collaboration with national and international authorities.' %}
                    </div>
                </div>
            </section>
            <section class="text-center">
                <h2 class="mb-5">{% trans 'Values' %}</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p>{% trans 'The daily activities of the Migration and Foreigners Service (EMS) are based on universal values:' %}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-legal fa-4x orange-text"></i>
                        <h4 class="my-4">{% trans 'Legality' %}</h4>
                        <p>{% trans 'compliance with and strict application of migration legislation ensures the correct interpretation of the rules in force in Angola, and the fight against migratory crime.' %}</p>
                    </div>
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-lock fa-4x orange-text"></i>
                        <h4 class="my-4">{% trans 'Security' %}</h4>
                        <p>{% trans 'The prevention and elimination of all risks to the border integrity of Angola is a result of law enforcement and the mobilization of the necessary technical and human resources.' %}</p>
                    </div>
                    <div class="col-md-4 mb-1">
                        <i class="fa fa-heart fa-4x orange-text"></i>
                        <h4 class="my-4">{% trans 'Humanity' %}</h4>
                        <p>{% trans 'full respect for Human Rights in the treatment of citizens, both legally and illegally, is an inseparable element of the activity of the EMS, reflected in the daily practice of its staff.' %}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}