{% extends 'navbar.html' %}
{% load i18n %}
{% load service_tags %}

{% block title %}
    Peticion de Pasaporte
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="h1 text-center">{% trans 'Personal data' %}</h1>
            </div>
        </div>
        {% include 'services/client_detail_template.html' with client=passport.client only %}

        <div class="row">
            <div class="col">
                <h1 class="h1 text-center">{% trans 'Passport details' %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{% trans 'Passport type' %}: {{ passport.get_passport_type_display }}</p>
            </div>
            <div class="col">
                <p>{% trans 'Emission date' %}: {{ passport.emission_date }}</p>
            </div>
            <div class="col">
                <p>{% trans 'Personal No.' %}: {{ passport.personal_no }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{% trans 'Remission type' %}: {{ passport.get_remission_type_display }}</p>
            </div>
            <div class="col">
                <p>{% trans 'Remission date' %}: {{ passport.remission_date }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{% trans 'Passport No.' %}: {{ passport.passport_no }}</p>
            </div>
            <div class="col">
                <p>{% trans 'Passport issuance date' %}: {{ passport.passport_issuance_date }}</p>
            </div>
            <div class="col">
                <p>{% trans 'Passport expiration date' %}: {{ passport.passport_expiration_date }}</p>
            </div>
        </div>
        {% user_can_mod_service passport user as can_mod %}
        {% if can_mod %}
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-default">{% trans 'Update' %}</a>
                    <a href="#" class="btn btn-danger">{% trans 'Delete' %}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}