{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Passport' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {{ form.errors }}
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-4">
                    <label for="{{ form.passport_type.id_for_label }}">{{ form.passport_type.label }}</label>
                    {{ form.passport_type }}
                </div>
                <div class="col-12 col-md-4">
                    <label for="{{ form.act_type.id_for_label }}">{{ form.act_type.label }}</label>
                    {{ form.act_type }}
                </div>
                <div class="col-12 col-md-4" id="remission">
                    <label for="{{ form.remission_type.id_for_label }}">{{ form.remission_type.label }}</label>
                    {{ form.remission_type }}
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="md-form">
                        {{ form.process_no }}
                        <label for="{{ form.process_no.id_for_label }}">{{ form.process_no.label }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h3 class="h3 text-center">{% trans 'Birth certificate' %}</h3>
                </div>
                <div class="col-4">
                    <div class="md-form">
                        {{ form.issued_in }}
                        <label for="{{ form.issued_in.id_for_label }}">{{ form.issued_in.label }}</label>
                    </div>
                </div>
                <div class="col-12">
                </div>
                <div class="col-4">
                    <label for="{{ form.date.id_for_label }}">{{ form.date.label }}</label>
                    {{ form.date }}
                </div>
                <div class="col-4">
                    <div class="md-form">
                        {{ form.cp }}
                        <label for="{{ form.cp.id_for_label }}">{{ form.cp.label }}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="md-form">
                        {{ form.cp_issued_in }}
                        <label for="{{ form.cp_issued_in.id_for_label }}">{{ form.cp_issued_in.label }}</label>
                    </div>
                </div>
                <div class="col-4">
                    <label for="{{ form.date_cp_issue.id_for_label }}">{{ form.date_cp_issue.label }}</label>
                    {{ form.date_cp_issue }}
                </div>
                <div class="col-4">
                    <div class="md-form">
                        {{ form.ci }}
                        <label for="{{ form.ci.id_for_label }}">{{ form.ci.label }}</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="md-form">
                        {{ form.ci_issued_in }}
                        <label for="{{ form.ci_issued_in.id_for_label }}">{{ form.ci_issued_in.label }}</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        {{ form.spouse }}
                        <label for="{{ form.spouse.id_for_label }}">{{ form.spouse.label }}</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="md-form">
                        {{ form.observations }}
                        <label for="{{ form.observations.id_for_label }}">{{ form.observations.label }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="h4">{% trans 'For use of the reception' %}</h4>
                    <label for="{{ form.date_reception.id_for_label }}">{{ form.date_reception.label }}</label>
                    {{ form.date_reception }}
                </div>
                <div class="col">
                    <h4 class="h4">{% trans 'For official use' %}</h4>
                    <div class="md-form">
                        {{ form.passport_no }}
                        <label for="{{ form.passport_no.id_for_label }}">{{ form.passport_no.label }}</label>
                    </div>
                    <div class="md-form">
                        {{ form.passport_issued_in }}
                        <label for="{{ form.passport_issued_in.id_for_label }}">{{ form.passport_issued_in.label }}</label>
                    </div>
                    <label for="{{ form.date_issue_passport.id_for_label }}">{{ form.date_issue_passport.label }}</label>
                    {{ form.date_issue_passport }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-default">{% trans 'Accept' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(function () {
            function change_type() {
                if ($('#{{ form.act_type.id_for_label }}').val() === 'R') {
                    $('#remission').removeClass('hidden');
                    console.log('show');
                } else {
                    $('#remission').addClass('hidden');
                    console.log('hidden');
                }
            }

            $('#{{ form.act_type.id_for_label }}').change(change_type);
            change_type();
        });
    </script>
{% endblock %}