{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    Visa {{ privilegedvisa.client }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        {% include 'services/visa_detail_template.html' with visa=privilegedvisa only %}
        <div class="row">
            <div class="col-12">
                <h3 class="h3 text-center">{% trans 'Privileged visa data' %}</h3>
            </div>
            <div class="col-12 col-md-6">
                {% trans 'Name of researh company' %}: {{ privilegedvisa.research_company }}
            </div>
            <div class="col-12 col-md-6">
                {% trans 'Condition of the foreign citizen' %}: {{ privilegedvisa.condition }}
            </div>
            <div class="col-12">
                {% trans 'Angola address' %}: {{ privilegedvisa.address_angola }}
            </div>
            <div class="col-12 col-md-6">
                {% trans 'Official' %}: {{ privilegedvisa.official }}
            </div>
        </div>
        {% include 'services/visa_edit_template.html' with visa=privilegedvisa %}
    </div>
{% endblock %}