{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Residence' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-default">Aceptar</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function () {
            $('input[type=radio]').click(function () {
                const form_container = $('#form-container');
                switch ($(this).prop('id')) {
                    case 'residence':
                        form_container.html('residence');
                        break;
                    case 'marriage':
                        form_container.html('marriage');
                        break;
                    case 'renovation':
                        form_container.html("<p id=\"talla\">renovation</p> \n<em>tocate</em>");
                }

            });
        });
    </script>
{% endblock %}