{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete Residence by Marriage' %}
{% endblock %}

{% block main %}
    <h1>{% trans 'Are you sure to delete this residence by marriage?' %}</h1>
    <p>{% trans 'Allottee to' %}: {{ residencemarriage.client }}</p>
    <p>{% trans 'Issuance date' %}: {{ residencemarriage.issuance_date }}</p>
    <p>{% trans 'Valid date' %}: {{ residencemarriage.valid_date }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% trans 'Accept' %}</button>
    </form>
{% endblock %}