<div class="row">
    <div class="col">
        <div class="md-form">
            {{ form.authorization_no }}
            <label for="{{ form.authorization_no.id_for_label }}">{{ form.authorization_no.label }}</label>
            <span class="text-muted text-danger">{{ form.authorization_no.errors }}</span>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            {{ form.issued_place }}
            <label for="{{ form.issued_place.id_for_label }}">{{ form.issued_place.label }}</label>
            <span class="text-muted text-danger">{{ form.issued_place.errors }}</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="md-form">
            {{ form.issuance_date }}
            <label for="{{ form.issuance_date.id_for_label }}">{{ form.issuance_date.label }}</label>
            <span class="text-muted text-danger">{{ form.issuance_date.errors }}</span>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            {{ form.valid_date }}
            <label for="{{ form.valid_date.id_for_label }}">{{ form.valid_date.label }}</label>
            <span class="text-muted text-danger">{{ form.valid_date.errors }}</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="md-form">
            {{ form.passport_no }}
            <label for="{{ form.passport_no.id_for_label }}">{{ form.passport_no.label }}</label>
            <span class="text-muted text-danger">{{ form.passport_no.errors }}</span>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            {{ form.passport_issuance_date }}
            <label for="{{ form.passport_issuance_date.id_for_label }}">{{ form.passport_issuance_date.label }}</label>
            <span class="text-muted text-danger">{{ form.passport_issuance_date.errors }}</span>
        </div>
    </div>
    <div class="col">
        <div class="md-form">
            {{ form.passport_expiration_date }}
            <label for="{{ form.passport_expiration_date.id_for_label }}">{{ form.passport_expiration_date.label }}</label>
            <span class="text-muted text-danger">{{ form.passport_expiration_date.errors }}</span>
        </div>
    </div>
</div>
