{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete Residence by Marriage' %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{% trans 'Are you sure to delete this residence authorization?' %}</h1>
            </div>
            <div class="col-12">
                <p>{% trans 'Allottee to' %}: {{ residenceauthorization.client }}</p>
                <p>{% trans 'Issuance date' %}: {{ residenceauthorization.issuance_date }}</p>
                <p>{% trans 'Valid until' %}: {{ residenceauthorization.valid_date }}</p>
            </div>
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">{% trans 'Accept' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}