{% extends 'navbar.html' %}

{% block title %}
    Servicios
{% endblock %}

{% block main %}
    <div class="mt-5">
        <div class="container">
            <section class="text-center">
                <h2 class="mb-5">Nuestros servicios</h2>
                <div class="row d-flex justify-content-center mb-4">
                    <div class="col-md-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem eveniet
                            pariatur qui. Ad consectetur iure qui. Autem ducimus eveniet fuga, iusto laborum totam
                            voluptas! Est id tempore voluptates voluptatibus!</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}