{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Service status' %}
{% endblock %}

{% block main %}
    <div class="hidden">{{ form }}</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card text-center">
                    <div class="card-header">
                        {% trans 'Search status' %}
                    </div>
                    <form method="post" action="{% url 'services:status' %}" id="search-form">
                        {% csrf_token %}
                        <div>
                            <input type="radio" id="passport" name="{{ form.request_type.name }}">
                            <label for="passport">{% trans 'Passport' %}</label>
                            <input type="radio" id="visa" name="{{ form.request_type.name }}">
                            <label for="visa">{% trans 'Visa' %}</label>
                            <input type="radio" id="residence" name="{{ form.request_type.name }}">
                            <label for="residence">{% trans 'Residence' %}</label>
                        </div>
                        <div class="card-body">
                            <div class="md-form">
                                <label for="search">{% trans 'Search' %}</label>
                                <input type="text" class="form-control" id="search"
                                       name="{{ form.search.name }}"
                                       {% if value %}value="{{ value }}"{% endif %} required>
                            </div>
                            <button type="submit" class="btn btn-default">{% trans 'Accept' %}</button>
                            <table class="table hidden">
                                <thead>
                                <tr>
                                    <th class="th-sm">{% trans 'Name' %}</th>
                                    <th class="th-sm">{% trans 'Passport number' %}</th>
                                </tr>
                                </thead>
                                <tbody id="results">
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(function () {
            const request_type = $('#{{ form.request_type.id_for_label }}');
            $('#passport').click(function () {
                $("label[for='search']").html('{% trans "Identity card" %}');
                request_type.val('passport');
            });
            $('#visa').click(function () {
                $("label[for='search']").html('{% trans "Passport no" %}');
                request_type.val('visa');
            });
            $('#residence').click(function () {
                $("label[for='search']").html('{% trans "Passport no" %}');
                request_type.val('residence');
            });

            $('#search-form').submit(function (event) {
                event.preventDefault();
                $.ajax($(this).prop('action'), {
                    method: 'POST',
                    data: {
                        'request_type': $('#{{ form.request_type.id_for_label }}').val(),
                        'search': $('#search').val(),
                    },
                    success: function (response) {
                        console.log(response);
                        $('table.table').removeClass('hidden');
                        let html = '';
                        if (response['message']) {
                            html = '<tr><td colspan="2"><h5 class="h5 text-center text-danger">'
                                + response['message'] + '</h5></td></tr>';
                        } else {
                            for (let i = 0; i < response['data'].length; i++) {
                                let service = response['data'][i];
                                html += '<tr><td>' + service['client_name'] +
                                    '</td><td>' + service['passport_no'] + '</td></tr>';
                            }
                        }
                        $('#results').html(html);
                    },
                    error: function (response, status) {
                        swal({
                            title: '{% trans "Error processing request" %}',
                            type: status,
                            html: '{% trans "Could not connect to server" %}'
                        });
                    },
                });
            });
        });
    </script>
{% endblock %}