{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Tools' %}
{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="text-center">{% trans 'Tools services' %}</h1>
        <!-- Create services -->
        <div class="row">

            <div class="col-3">
                <div class="card">
                    <div class="card-header info-color white-text text-center">
                        <h5 class="text-uppercase">{% trans 'Visa' %}</h5>
                    </div>
                    <div class="card-body px-lg-5 pt-0">
                        <p><a href="{% url 'services:visa_create' %}">Visa para un cliente</a></p>
                        <p><a href="#">Visa a nuevo cliente</a></p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header info-color white-text text-center">
                        <h5 class="text-uppercase">Residencia</h5>
                    </div>
                    <div class="card-body px-lg-5 pt-0">
                        <p><a href="#">Buscar cliente</a></p>
                        <p><a href="#">Nuevo cliente</a></p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header info-color white-text text-center">
                        <h5 class="text-uppercase">Nacional</h5>
                    </div>
                    <div class="card-body px-lg-5 pt-0">
                        <p><a href="#">Buscar cliente</a></p>
                        <p><a href="#">Nuevo cliente</a></p>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="card">
                    <div class="card-header info-color white-text text-center">
                        <h5 class="text-uppercase">Visa</h5>
                    </div>
                    <div class="card-body px-lg-5 pt-0">
                        <p><a href="#">Buscar cliente</a></p>
                        <p><a href="#">Nuevo cliente</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Create services -->
        <!-- List of services -->
        <h1 class="text-center">Services List</h1>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-hover" cellspacing="0" width="100% ">
                    <thead>
                    <tr>
                        <th class="th-sm">Tipo</th>
                        <th class="th-sm">Nombre del cliente</th>
                        <th class="th-sm">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in services %}
                        <tr>
                            <td>{{ service.get_service_type }}</td>
                            <td>{{ service.client.get_full_name }}</td>
                            <td>{{ service.get_status_display }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No existen ningun servicio en el sistema</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <!-- List of services -->
    </div>
{% endblock %}