{% extends 'navbar.html' %}
{% load i18n %}
{% load service_tags %}

{% block title %}
    {% trans 'Tools' %}
{% endblock %}

{% block main %}
    <div class="container">
        {% if user.occupation == 'FAC' %}
            <h1 class="text-center">{% trans 'Services tools' %}</h1>
            <div class="row">
                <div class="col text-center">
                    <a href="{% url 'services:client_create' %}" class="btn btn-outline-default">
                        {% trans 'Create new client' %}
                    </a>
                </div>
                <div class="col text-center">
                    <a href="{% url 'services:client_create' %}" class="btn btn-outline-default" data-toggle="modal"
                       data-target="#search-foreigner">
                        {% trans 'Search Foreigner' %}
                    </a>
                </div>
            </div>
            <!-- Create services -->
            <div class="row">
                <div class="col">
                    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#visa-types">
                        {% trans 'Visa for a client' %}
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'services:client_list' 'extension' %}" class="btn btn-default">
                        {% trans 'Request visa extension' %}
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'services:client_list' 'residence' %}" class="btn btn-default">
                        {% trans 'Residence authorization' %}
                    </a>
                </div>

                <div class="col">
                    <a href="{% url 'services:client_list' 'passport' %}" class="btn btn-default">
                        {% trans 'Passport for a client' %}
                    </a>
                </div>
            </div>
            <!-- Create services -->
        {% endif %}
        {% if user.occupation == 'BDAC' or user.occupation == 'DIR' or user.occupation == 'ADMIN' %}
            <!-- Visa to expire -->
            {% if visa_to_expire %}
                <div class="row">
                    <div class="col">
                        <h3 class="h3 w-100 text-center">{% trans 'Visa to expire' %}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered table-hover table-search" cellspacing="0" width="100%"
                               data-page-length="5">
                            <thead>
                            <tr>
                                <th class="th-sm">{% trans 'Type' %}</th>
                                <th class="th-sm">{% trans "Client's name" %}</th>
                                <th class="th-sm">{% trans 'Visa expiration date' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for visa in visa_to_expire %}
                                <tr>
                                    <td>{{ visa.get_request_type_display }}</td>
                                    <td>
                                        <a href="{% url 'services:client_detail' visa.client.pk %}">{{ visa.client }}</a>
                                    </td>
                                    <td>{{ visa.visa_expiration_date }}
                                        <a href="{% url 'services:service_detail' visa.request_type visa.pk %}"><i
                                                class="fa fa-eye float-lg-right"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <!--./Visa to expire -->
            <!-- Expired visa -->
            {% if expired_visa %}
                <div class="row">
                    <div class="col">
                        <h3 class="h3 w-100 text-center">{% trans 'Expired visas' %}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <table class="table table-bordered table-hover table-search" cellspacing="0" width="100%"
                               data-page-length="5">
                            <thead>
                            <tr>
                                <th class="th-sm">{% trans 'Type' %}</th>
                                <th class="th-sm">{% trans "Client's name" %}</th>
                                <th class="th-sm">{% trans 'Visa expiration date' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for visa in expired_visa %}
                                <tr>
                                    <td>{{ visa.get_request_type_display }}</td>
                                    <td>
                                        <a href="{% url 'services:client_detail' visa.client.pk %}">{{ visa.client }}</a>
                                    </td>
                                    <td>{{ visa.visa_expiration_date }}
                                        <a href="{% url 'services:service_detail' visa.request_type visa.pk %}"><i
                                                class="fa fa-eye float-lg-right"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <!--./Expired visa -->
        {% endif %}

        <!-- List of services -->
        <h1 class="text-center">{% trans "Services Request's List" %}</h1>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-hover table-search" cellspacing="0" width="100%"
                       data-page-length="5">
                    <thead>
                    <tr>
                        <th class="th-sm">{% trans 'Type' %}</th>
                        <th class="th-sm">{% trans "Client's name" %}</th>
                        <th class="th-sm">{% trans 'State' %}</th>
                        <th class="th-sm">{% trans 'Actions' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for service in service_list %}
                        <tr>
                            {% if service.visa %}
                                {% if service.visa.extensionvisa %}
                                    <td>{{ service.visa.extensionvisa.get_extension_type }}</td>
                                {% else %}
                                    <td>{{ service.visa.get_request_type_display }}</td>
                                {% endif %}
                            {% elif service.passport %}
                                <td>{{ service.passport.get_service_type }}</td>
                            {% elif service.residenceauthorization %}
                                <td>{{ service.residenceauthorization.get_service_type }}</td>
                            {% else %}
                                <td>{{ service.get_service_type }}</td>
                            {% endif %}
                            <td>
                                <a href="{% url 'services:client_detail' service.client.pk %}">{{ service.client.get_full_name }}</a>
                            </td>
                            <td>{{ service.get_status_display }}</td>
                            <td class="btn-group-sm">
                                {% if service.visa %}
                                    <a href="{% url 'services:service_detail' service.visa.request_type service.pk %}"
                                       class="btn btn-default">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% elif service.passport %}
                                    <a href="{% url 'services:service_detail' service.passport.service_type service.pk %}"
                                       class="btn btn-default">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% elif service.residenceauthorization %}
                                    <a href="{% url 'services:service_detail' service.residenceauthorization.service_type service.pk %}"
                                       class="btn btn-default">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                {% endif %}
                                {% user_can_mod_service service user as can_mod %}
                                {% if can_mod %}
                                    {% if service.visa %}
                                        <a href="{% url 'services:service_update' service.visa.request_type service.pk %}"
                                           class="btn btn-default">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{% url 'services:service_delete' service.visa.request_type service.pk %}"
                                           class="btn btn-default">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    {% elif service.passport %}
                                        <a href="{% url 'services:service_update' service.passport.service_type service.pk %}"
                                           class="btn btn-default">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{% url 'services:service_delete' service.passport.service_type service.pk %}"
                                           class="btn btn-default">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    {% elif service.residenceauthorization %}
                                        <a href="{% url 'services:service_update' service.residenceauthorization.service_type service.pk %}"
                                           class="btn btn-default">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{% url 'services:service_delete' service.residenceauthorization.service_type service.pk %}"
                                           class="btn btn-default">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    {% endif %}
                                    {% if user.occupation != 'DIR' %}
                                        {% if service.status != '1' %}
                                            <a href="{% url 'services:change_status' service.pk 'down' %}"
                                               class="btn btn-default">
                                                <i class="fa fa-arrow-left"></i>
                                            </a>
                                        {% endif %}

                                    {% endif %}
                                    {% if user.occupation != 'DIR' or service.status == '4' %}
                                        <a href="{% url 'services:change_status' service.pk 'up' %}"
                                           class="btn btn-default">
                                            <i class="fa fa-arrow-right"></i>
                                        </a>
                                    {% endif %}
                                    {% if service.status != '5' or service.status != '6' %}
                                        <a href="{% url 'services:change_status' service.pk 'denied' %}"
                                           class="btn btn-default">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="text-center text-danger">
                                {% trans 'Has no service created yet' %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
        <!-- List of services -->
    </div>
    <!-- Visa types list -->
    <div class="modal fade" id="visa-types" tabindex="-1" role="dialog" aria-labelledby="visa-types" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">{% trans 'Visa types' %}</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body-->
                <div class="modal-body mx-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'WV' %}" class="btn btn-default">
                                    {% trans 'Work visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'MTV' %}" class="btn btn-default">
                                    {% trans 'Medical Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'RV' %}" class="btn btn-default">
                                    {% trans 'Resident Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'TSV' %}" class="btn btn-default">
                                    {% trans 'Temporary Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'PV' %}" class="btn btn-default">
                                    {% trans 'Privileged Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'SV' %}" class="btn btn-default">
                                    {% trans 'Study Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'STV' %}" class="btn btn-default">
                                    {% trans 'Short-term Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'TV' %}" class="btn btn-default">
                                    {% trans 'Tourist Visa for a client' %}
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="{% url 'services:client_list' 'OV' %}" class="btn btn-default">
                                    {% trans 'Ordinary Visa for a client' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal body-->
            </div>
        </div>
    </div>
    <!--./ Visa types list -->

    <!-- Search foreigner modal-->
    <div class="modal fade" id="search-foreigner" tabindex="-1" role="dialog" aria-labelledby="search-foreigner"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">{% trans 'Search foreigner' %}</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body-->
                <div class="modal-body mx-3">
                    <a href="#" class="btn btn-default"
                       onclick="Exporter.export('#search', 'search.html'); return false;">{% trans 'Export to excel' %}</a>
                    <table id="search" class="table table-bordered table-hover table-search" cellspacing="0"
                           width="100%"
                           data-page-length="5">
                        <thead>
                        <tr>
                            <th class="th-sm">{% trans 'Client name' %}</th>
                            <th class="th-sm">{% trans 'Company name' %}</th>
                            <th class="th-sm">{% trans 'Profession' %}</th>
                            <th class="th-sm">{% trans 'Function' %}</th>
                            <th class="th-sm">{% trans 'lodging' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for visa in visa_list %}
                            <tr>
                                <td>{{ visa.client.get_full_name }}</td>
                                <td>{{ visa.client.work_name }}</td>
                                <td>{{ visa.client.profession }}</td>
                                <td>{{ visa.client.funcion }}</td>
                                <td>{{ visa.lodging }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- Modal body-->
            </div>
        </div>
    </div>
    <!--./ Search foreigner modal -->
{% endblock %}