{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Add service' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            {% if type == 'renovation' %}
                {% include 'services/residence_renovation_form.html' with form=form %}
            {% elif type == 'marriage' %}
                {% include 'services/residence_marriage_form.html' with form=form %}
            {% elif type == 'authorization' %}
                {% include 'services/residence_authorization_form.html' with form=form %}
            {% endif %}
            <button class="btn btn-default">{% trans 'Accept' %}</button>
        </form>
        <form method="post" id="visa-form">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <label for="{{ form.specification.id_for_label }}">{{ form.specification.label }}</label>
                        </div>
                        <div class="col-9">
                            {{ form.specification }}
                            <span class="text-danger">{{ form.specification.errors }}</span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        <label for="{{ form.extension_request_date.id_for_label }}">{{ form.extension_request_date.label }}</label>
                        {{ form.extension_request_date }}
                        <span class="text-danger">{{ form.extension_request_date.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-3">
                            <label for="{{ form.request_type.id_for_label }}">{{ form.request_type.label }}</label>
                        </div>
                        <div class="col-9">
                            {{ form.request_type }}
                            <span class="text-danger">{{ form.request_type.errors }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.passport_no }}
                        <label for="{{ form.passport_no.id_for_label }}">{{ form.passport_no.label }}</label>
                        <span class="text-danger">{{ form.passport_no.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.passport_issuance_date }}
                        <label for="{{ form.passport_issuance_date.id_for_label }}">{{ form.passport_issuance_date.label }}</label>
                        <span class="text-danger">{{ form.passport_issuance_date.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.passport_expiration_date }}
                        <label for="{{ form.passport_expiration_date.id_for_label }}">{{ form.passport_expiration_date.label }}</label>
                        <span class="text-danger">{{ form.passport_expiration_date.errors }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="md-form">
                        {{ form.visa_no }}
                        <label for="{{ form.visa_no.id_for_label }}">{{ form.visa_no.label }}</label>
                        <span class="text-danger">{{ form.visa_no.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.visa_issuance_date }}
                        <label for="{{ form.visa_issuance_date.id_for_label }}">{{ form.visa_issuance_date.label }}</label>
                        <span class="text-danger">{{ form.visa_issuance_date.errors }}</span>
                    </div>
                </div>
                <div class="col">
                    <div class="md-form">
                        {{ form.visa_expiration_date }}
                        <label for="{{ form.visa_expiration_date.id_for_label }}">{{ form.visa_expiration_date.label }}</label>
                        <span class="text-danger">{{ form.visa_expiration_date.errors }}</span>
                    </div>
                    <div class="hidden">
                        {{ form.tutelary_entity }}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-default" id="submit">{% trans 'Accept' %}</button>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        $(function () {
            let specification = $('#{{ form.specification.id_for_label }}');
            const visaForm = $('#visa-form');

            function checkSpecificationStatus() {
                if (specification.val() === 'VT') {
                    entity.removeClass('hidden');
                } else {
                    entity.addClass('hidden');
                }
            }

            checkSpecificationStatus();

            specification.change(function () {
                checkSpecificationStatus();
            });
        });
    </script>
{% endblock %}