{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Delete visa' %}
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>{% trans 'Are you sure to delete this visa?' %}</h1>
            </div>

            <div class="col-23">
                <p>{% trans 'Allottee to' %}: {{ visa.client }}</p>
                <p>{% trans 'Expire date' %}: {{ visa.visa_expiration_date }}</p>
            </div>

            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">{% trans 'Accept' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}