{% extends 'navbar.html' %}
{% load i18n %}

{% block title %}
    {% trans 'Add visa' %}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12">
                    {{ form.errors }}
                </div>
            </div>
            {% include 'services/visa_form_template.html' with form=form only %}
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.organism_name }}
                        <label for="{{ form.organism_name.id_for_label }}">{{ form.organism_name.label }}</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.organism_address }}
                        <label for="{{ form.organism_address.id_for_label }}">{{ form.organism_address.label }}</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.funcion }}
                        <label for="{{ form.funcion.id_for_label }}">{{ form.funcion.label }}</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="{{ form.init_contract_date.id_for_label }}">{{ form.init_contract_date.label }}</label>
                    {{ form.init_contract_date }}
                </div>
                <div class="col-12 col-md-6">
                    <label for="{{ form.end_contract_date.id_for_label }}">{{ form.end_contract_date.label }}</label>
                    {{ form.end_contract_date }}
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.entity_name }}
                        <label for="{{ form.entity_name.id_for_label }}">{{ form.entity_name.label }}</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="md-form">
                        {{ form.entity_address }}
                        <label for="{{ form.entity_address.id_for_label }}">{{ form.entity_address.label }}</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-default">{% trans 'Accept' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}